body .section-fixed-top-box {
  background: #767EEB;
  }
body {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 0px;
  }
a:link {
  text-decoration:none;
  color: #4E4DED;
}
a:visited {
  text-decoration:none;
  color: #8A2BE2;
}
a:hover {
  text-decoration:underline;
  color: #FF00FF;
}
  
.content {
  max-width: 1007px;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  }
.content .fauxborder-left.content-fauxborder-left {
  border-bottom: 0px #111 solid;
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 0px;
  }
body .content-outer {
  width: 100%;
  max-width: 1007px;
  border-radius: 0px;
  box-shadow: none;
  }
body {
  & .content-inner {
  width: 100%;
  max-width: 1007px;
  border-radius: 0px;
  height: calc(100% - 0px);
  }
  &.mobile .content-inner {
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom: 0px #434DED solid;
  }
}
.section-content {
  margin-top: 2em;
}
.columns-cell #sidebar-right-2-1 .widget-content,
.columns-cell #sidebar-right-2-2 .widget-content,
aside #sidebar-right-3 .widget-content {
  & ul {list-style: none;}
  & ul li {list-style: none;}
}

/*== Section Content Wrapper ==*/
.mobile section.section-content-wrapper {
  margin: 0px 0px;
  padding: 0px 0px;
  }
section.section-content-wrapper {
  margin: 0px 0px;
  padding: 0px 15px;
  display: block;
  position: relative;
  & > :is(h2,h3,h4,h5,h6) {
    color: #111;
    }
  & > :is(p,ul,ol) {
    color: #111;
    font-size: 1.0em;
    font-weight: 400;
    }
  & > p {
    line-height: 1.5;
    margin-bottom: 25px;
    }
  & > ul,
  & > ol {
    line-height: 1.5;
    margin-bottom: 25px;
    }
  }  

#backtotop {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
#backtotop svg {
  width: 25px;
  height: 25px;
  }
  
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 0px);
  z-index: 9999;
  background: #ebf3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader .loading-page {
 width: 100%;
height: 100%;
background: var(--bg-loading);
display: flex;
  align-items: center;
  justify-content: center;
}
#loader .loading-page .page-load{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: var(--bg-color-view);
/* background: #ceecee;*/
 /* background-image:
    linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
 z-index: 9999;
}
#loader .loading-page .page-load .loader {
  border: 5px solid #055ef7;
  border-radius: 50%;
  border-top: 5px solid #f3f3f3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin-loading 2s linear infinite; /* Safari */
  animation: spin-loading 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin-loading {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
