:root {
  /* Font Type */
  --font-mic: 'Michroma' , sans-serif;
  --font-web: 'Titillium Web' , sans-serif;
  --font-nun: 'Nunito' , sans-serif;
 
  /* Latar Color */
  --bg-color-card: #E6E6ff;
  --bg-color-view: #F0F0FC;
  
  /* Text Color */
  --text-color-default: #1C274C;
  --text-color-primary: #1C274C;
  --text-color-link: #4e4edd;

  /* Icon Color */
  --icon-color-view: #1C274C;

  /* Icon Color */
  --btn-color-default: #fcfcfc;
  --btn-color-primary: #767eeb;

  /* Line Color */
  --line-color-default: #191919;
  --line-color-primary: #767eeb;
  
  /* Var Color */
  --var-color-line: #191919;
  --var-color-list: #767eeb;

    /* Text Size */
  
  
  --font-size-smile: 0.8em;
  --font-size-medium: 2.0em;
  --font-size-default: 1.0em;
  --font-size-heading1: 1.6em;
  --font-size-heading2: 1.5em;
  --font-size-heading3: 1.4em;
  --font-size-heading4: 1.3em;
  --font-size-heading5: 1.2em;
  --font-size-heading6: 1.1em;
  --font-size-megasmile: 0.7em;
  
  /* Text Size */
  --size-font-heading1: 1.6em;
  --size-font-heading2: 1.5em;
  --size-font-heading3: 1.4em;
  --size-font-heading4: 1.3em;
  --size-font-heading5: 1.2em;
  --size-font-heading6: 1.1em;
  --size-font-default: 1.0em;
  --size-font-medium: 0.9em;
  --size-font-smile: 0.8em;
  --size-font-megasmile: 0.7em;

  
  /* Raduis Size */
  --size-radius-default: 5px;
 
}
.mobile * {margin:0;padding:0;box-sizing:border-box;}
body #navbar {height: 65px;min-height: 65px;max-height: 65px;}
body.mobile {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
  & .content {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    border: 0.5px #ccc solid;   
  }
  @media (max-width: 640px) {
    & .content {
      border-radius: 0px;
      border: 0.0px #111 solid;
    }
  }
}
.mobile #Blog1 {
  padding-bottom: 70px;
  position: relative;
 }
header .header-outer {
  margin-bottom: 20px;
  }


body .content .post-body,
body.mobile .content .post-body {
  & :is(h1,h2,h3,h4,h5,h6){
    color: var(--text-color-primary);
    }
  & * {
    line-height: 1.5;
    font-family: "Titillium Web", sans-serif;
    font-size: var(--font-size-default);
    color: var(--text-color-primary);
    }
  & h1 {
   font-size: var(--font-size-heading1);
  }
  & h2 {
   font-size: var(--font-size-heading2);
  }
  & h3 {
   font-size: var(--font-size-heading3);
  }
  & h4 {
   font-size: var(--font-size-heading4);
  }
  & h5 {
   font-size: var(--font-size-heading5);
  }
  & h6 {
   font-size: var(--font-size-heading6);
  }
  & p {
    line-height: 1.7;
   font-size: var(--font-size-default);
  }
}
/*==================================
 Component Css
==================================*/
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}
.post-body .marbox {
 margin-left: 15px;
 margin-right: 15px;
 box-sizing: border-box;
}
.mobile .post-body .marbox {
  margin-left: 0px;
  margin-right: 0px;
}
.post-body .padbox {
 padding-left: 15px;
 padding-right: 15px;
 box-sizing: border-box;
}
.mobile .post-body .padbox {
  padding-left: 0px;
  padding-right: 0px;
}
.btn:active,
button:active {
  transform: translateY(1.5px);
  filter: saturate(150%);
}

/*==================================
 Blog Pager 
==================================*/
body .post .post-body  {
  width: 100%;
  min-height: calc(100vh - 50vh);
}
body.mobile .post .post-body  {
  width: 100%;
  min-height: calc(100vh - 50vh);
}
.post-header,
.post-footer,
#comments,
#footer-3 #Attribution1 {
display:none;
}
/*==================================
 Menu Select
==================================*/
#header {
  padding: 0px 15px;
  padding-top: 0px;
  box-sizing: border-box;
  }
.mobile #header {
  padding: 0px 15px;
  padding-top: 0px;
}
#header-inner {
  padding-left: 35px;
  box-sizing: border-box;
  & .titlewrapper {
    & h1.title {
     color: #fff;
     margin: 0;
     padding: 0px;
     width: 420px;
     min-width: 420px;
     font-weight: 700;
     font-family: "Michroma", sans-serif;
      background: -webkit-linear-gradient(right, #4e4edd 76%, #ff00ff 16%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
  }
  & .descriptionwrapper {
    & .description {
      width: auto;
      max-width: 300px;
      & span {
       color: #111;
       font-size: var(--font-size-default);
       font-weight: 400;
       line-height: 1.5;
       font-family: "Michroma", sans-serif;
        font-style: normal;
        background: -webkit-linear-gradient(#4e4edd 50%, #8585FF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      }
    }
  }
}
.mobile #header-inner {
  padding-left: 5px;
  border-left: 5px #bff5c0 solid;
  box-sizing: border-box;
  & .titlewrapper {  
    & h1.title {
      width: 160px;
      min-width: 160px;
      font-size: var(--font-size-medium);
      font-weight: bold;
    }
  }
}
header + div.tabs-outer {
  padding: 0px 10px;
  margin: 0 15px 50px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-height: auto;
 /* background: #fff;*/
  position: relative;
  overflow: hidden;
  border: 1px #ccc solid;
  box-shadow: 0 6px 16px 0 rgba(31,36,38,.15);
  }
.mobile header + div.tabs-outer {
  padding: 0px 0px;
  margin: 0px 10px 30px 10px;
 }
.mobile .tabs-outer .region-inner.tabs-inner #crosscol,
.mobile .tabs-outer .region-inner.tabs-inner .tabs.section { 
  padding: 0;
  display: grid;
  grid-template-areas:
  "left left right"
  "center center center";
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  /*background-color: #f0f0fc;*/
  padding: 10px 10px;
  & .widget-content select {
    outline: none;
    margin: 0;
    }
  }

.mobile #crosscol > #PageList1 {
  grid-area: left;}
.mobile #crosscol > #PageList2 {
  grid-area: right;}
.mobile #crosscol > #PageList3 {
  grid-area: center;}
  #PageList1_select,
  #PageList2_select,
  #PageList3_select {
    margin: 0px 0px;
    padding: 5px;
    box-sizing: border-box;
 }
  
.mobile #PageList1,
.mobile #PageList2,
.mobile #PageList3  {
  padding: 0px 0px;
}
 
.mobile #PageList1 .widget-content select,
.mobile #PageList2 .widget-content select,
.mobile #PageList3 .widget-content select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border: 0px #111 solid;
   background: #CDCDFF;
   background-image: none;
   flex: 1;
   padding: 0 0.5em;
   color:#4e4edd;
   cursor:pointer;
   font-size: 1.1em;
   font-family: 'Open Sans', sans-serif;
}
.mobile #PageList1 .widget-content select::-ms-expand,
.mobile #PageList2 .widget-content select::-ms-expand,
.mobile #PageList3 .widget-content select::-ms-expand {
   display: none;
}
.mobile #PageList1 .widget-content,
.mobile #PageList2 .widget-content,
.mobile #PageList3 .widget-content {
   position: relative;
   display: flex;
   width: auto;
   height: 40px;
   line-height: 3;
   border: 0.5px #fff solid;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
   margin: 5px 0px;
   padding: 0px;
  
}

.mobile #PageList1 .widget-content::after,
.mobile #PageList2 .widget-content::after,
.mobile #PageList3 .widget-content::after {
   content: '\25BC';
   position: absolute;
  z-index: 10;
   top: 0;
   right: 0;
   color: #fff;
   padding: 0px 10px;
   background: #4e4edd;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.mobile #PageList1 .widget-content:hover::after,
.mobile #PageList2 .widget-content:hover::after,
.mobile #PageList3 .widget-content:hover::after {
   color: #ccc;
}


/*==================================
 Post Title
==================================*/
.blog-posts .date-outer .date-posts .post-outer {
 & .post-title.entry-title {
   color: #8A2BE2;
   margin: 0;
   padding: 6px 0px;
   margin: 0 0 10px 0px;
   padding-left: 10px;
   font-size: 1.0em;
   letter-spacing: 1px;
   display: block;
   font-weight: bold;
   box-sizing: border-box;
   border-left: 5px #a035de solid;
   font-family: "Michroma", sans-serif;
   background: rgba(242,61,221,0.2);
   background: #bff5c0;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   top: 0px;
   left: 15px;
   width: calc(100% - 25px);
   position: relative;
   }
}
.mobile .blog-posts .date-outer .date-posts .post-outer {
  & .post-title.entry-title {
    top: 0px;
    left: 0px;
    z-index: 100;
    width: calc(100% - 0px);
    position: relative;
  }
}


/*==================================
 Section Fixed Box
==================================*/
.section-fixed-top-box  {
  top: 0px;
  left: 0px;
  padding: 0px 10px;
  z-index: 700;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  background: #FFF;
  box-sizing: border-box;
  border-bottom: 0.5px var(--var-color-line) solid;
  box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
   
  }
.section-fixed-bottom-box {
  left: 0px;
  bottom: 0px;
  padding: 0px 10px;
  z-index: 700;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  background-color: #ffffff;
  /*background: linear-gradient(60deg, rgba(78, 78, 221,1) 5%, rgba(133,133,255,1) 95%);*/
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
  }


/*==================================
 Top List
==================================*/
.mobile .top-list {
  margin: 0px 0px;
}
.mobile .top-list {
  margin: 8px 0px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
}
.mobile .post-list-linkurl {
  display: none;
  }
.post-list-linkurl {
  width: calc(100% - 205px);
  height: 26px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 0.5px #ddd solid;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  & p {
    font-size: 0.8em;
    font-weight: 700;
    & span {
      font-weight: 400;
      }
    }
  & .copy-url {
    top: -0.5px;
    right: -0.5px;
    width: 26px;
    height: 26px;
    z-index: 5;
    border: 0.5px #616185 solid;
    background: var(--bg-color-view);
    border-radius: 50%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    & svg {
      width: 18px;
      height: 18px;
    }
    &:active ~ p span {
      color: red;
    }
  }
}

.mobile .post-list-user {
  display: flex;
  }
.post-list-user {
  min-width: 60px;
  min-height: 60px;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px #3D5AFE solid;
  }
.top-list {
  width: 100%;
  max-width: 1000px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color-card);
  margin: 8px 10px;
  padding: 5px 10px;
  border-radius: var(--size-radius-default);
  & .post-list-click {
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: start;
    & button {
      width: 30px;
      height: 30px;
      border: 0.5px #616185 solid;
      background: var(--bg-color-view);
      border-radius: 2.5px;
      margin: 0 auto 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      }
    & svg {
      width: 20px;
      height: 20px;
      fill: none;
    }
  }
  & .post-list-user {
    & .user {
      --size: 40px;
      height: var(--size);
      width: var(--size);
      min-height: var(--size);
      min-width: var(--size);
      border: 0.5px #3D5AFE solid;
      background: var(--bg-color-view);
      border-radius: 50%;
      margin: 0 0;
      display: none;
      align-items: center;
      justify-content: center;
      --img: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh9kSyk8d0RwX60gWe8BUhSmpIDOapzCgjEYBOtVoJ37g0qozLxR78OBXHeoK3TuQbzhEn8Za3Cx4cNTdttU4O7uiSsUz6OG5S7GYgDpPRy1WO-UoVLzv9q5gSG77uYZS_-izdPOqwN9u4tmFe217S0agQGKPEJP3kEFRMu_QUViyceibPAFNggraRmjcE/s1600/1744154246162.png);
      background-image: var(--img);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
  
  }
  }
  & .post-list-widget {
      & button {
      width: 30px;
      height: 30px;
      border: 0.5px #616185 solid;
      background: var(--bg-color-view);
      border-radius: 2.5px;
      margin: 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
    & svg {
      width: 20px;
      height: 20px;
    }
   }
  }
}
.mobile .top-list {
  & .post-list-user {
    & .user {
    display: flex;
    }
  }
}
.top-list {
  & .post-list-click {
    & .open-fullscreen,
    & .close-fullscreen {
    display: none;
    }
  }
}
.mobile .top-list {
  & .post-list-click {
    & .open-fullscreen{
    display: flex;
    }
  }
}
.mobile .top-list {
  & .post-list-click {
  & .close-fullscreen {
     display: none;
    }
  }
}
:fullscreen .mobile .top-list {
  & .post-list-click {
  & button.open-fullscreen {
  display: none;
  }
  & button.close-fullscreen {
  display: flex;
  }
 }
}

/*==================================
 Blog Pager 
==================================*/
body #blog-pager {
  & .mobile-desktop-link,
  & .blog-mobile-link {
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 50;
    display: block;
    position: fixed;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 3px #999;
    background-color: rgba(61,90,254,0.7);
    &:hover {
      background-color: rgba(61,90,254,0.9);
    }
    & a {
      --size: 40px;
      --radius: 5px;
      padding: 0;
      font-size: 0em;
      height: var(--size);
      width: var(--size);
      min-height: var(--size);
      min-width: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      & svg {
        display: none;
        width: 30px;
        height: 30px;
      }
    }
  }
  & .mobile-desktop-link {
    & a {
      position: relative;
      --var-mode-mobile: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cg id='Desktop'%3E%3Cpath d='M18.435,3.065H5.565a2.5,2.5,0,0,0-2.5,2.5v8.87a2.5,2.5,0,0,0,2.5,2.5h2.91l-.37,3H7a.5.5,0,0,0,0,1h10.01a.5.5,0,0,0,0-1H15.9l-.37-3h2.91a2.5,2.5,0,0,0,2.5-2.5V5.565A2.5,2.5,0,0,0,18.435,3.065Zm-9.33,16.87.38-3h5.03l.37,3Zm10.83-5.5a1.5,1.5,0,0,1-1.5,1.5H5.565a1.5,1.5,0,0,1-1.5-1.5v-.5h15.87Zm0-1.5H4.065V5.565a1.5,1.5,0,0,1,1.5-1.5h12.87a1.5,1.5,0,0,1,1.5,1.5Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      --var-mode-mobile-hover: url("data:image/svg+xml,%3Csvg fill='%23d3f5f0' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cg id='Desktop'%3E%3Cpath d='M18.435,3.065H5.565a2.5,2.5,0,0,0-2.5,2.5v8.87a2.5,2.5,0,0,0,2.5,2.5h2.91l-.37,3H7a.5.5,0,0,0,0,1h10.01a.5.5,0,0,0,0-1H15.9l-.37-3h2.91a2.5,2.5,0,0,0,2.5-2.5V5.565A2.5,2.5,0,0,0,18.435,3.065Zm-9.33,16.87.38-3h5.03l.37,3Zm10.83-5.5a1.5,1.5,0,0,1-1.5,1.5H5.565a1.5,1.5,0,0,1-1.5-1.5v-.5h15.87Zm0-1.5H4.065V5.565a1.5,1.5,0,0,1,1.5-1.5h12.87a1.5,1.5,0,0,1,1.5,1.5Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      &::before {
    content:'';
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1;
    margin: 0px;
    position: absolute;
    border-radius: 5px;
    background: var(--var-mode-mobile) center center / 30px no-repeat;
    }
    }
    &:hover {
      & a {
        &:before {
          background: var(--var-mode-mobile-hover) center center / 30px no-repeat;
        }
      }
    }
  }
  & .blog-mobile-link {
    & a {
      position: relative;
      --var-mode-dekstop: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'  %3E%3Cg id='Mobile'%3E%3Cpath d='M16.73,2.065H7.27a2.386,2.386,0,0,0-2.24,2.5v14.87a2.386,2.386,0,0,0,2.24,2.5h9.46a2.386,2.386,0,0,0,2.24-2.5V4.565A2.386,2.386,0,0,0,16.73,2.065Zm1.24,17.37a1.391,1.391,0,0,1-1.24,1.5H7.27a1.391,1.391,0,0,1-1.24-1.5V4.565a1.391,1.391,0,0,1,1.24-1.5H8.8v.51a1,1,0,0,0,1,1h4.4a1,1,0,0,0,1-1v-.51h1.53a1.391,1.391,0,0,1,1.24,1.5Z'%3E%3C/path%3E%3Cpath d='M10,18.934h4a.5.5,0,0,0,0-1H10a.5.5,0,0,0,0,1Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      --var-mode-dekstop-hover: url("data:image/svg+xml,%3Csvg fill='%23d3f5f0' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'  %3E%3Cg id='Mobile'%3E%3Cpath d='M16.73,2.065H7.27a2.386,2.386,0,0,0-2.24,2.5v14.87a2.386,2.386,0,0,0,2.24,2.5h9.46a2.386,2.386,0,0,0,2.24-2.5V4.565A2.386,2.386,0,0,0,16.73,2.065Zm1.24,17.37a1.391,1.391,0,0,1-1.24,1.5H7.27a1.391,1.391,0,0,1-1.24-1.5V4.565a1.391,1.391,0,0,1,1.24-1.5H8.8v.51a1,1,0,0,0,1,1h4.4a1,1,0,0,0,1-1v-.51h1.53a1.391,1.391,0,0,1,1.24,1.5Z'%3E%3C/path%3E%3Cpath d='M10,18.934h4a.5.5,0,0,0,0-1H10a.5.5,0,0,0,0,1Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      &::before {
        content:'';
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        display: block;
        z-index: 2;
        margin: 0px;
        position: absolute;
        border-radius: 5px;
        background: var(--var-mode-dekstop) center center / 30px no-repeat;
      }
    }
    &:hover {
      & a {
        &:before {
          background: var(--var-mode-dekstop-hover) center center / 30px no-repeat;
        }
      }
    }
  }
}

.mobile #blog-pager {
  position: relative;
  }
.mobile #blog-pager #blog-pager-newer-link {
  left: 15px;
  }
.mobile #blog-pager #blog-pager-older-link {
  right: 15px;
  }
.mobile #blog-pager #blog-pager-newer-link,
.mobile #blog-pager #blog-pager-older-link {
   bottom: 9px;
   width: 35px;
   height: 35px;
   background: #bff5c0;
   border-radius: 2.5px;
   position: absolute;
   & a {
     width: 35px;
     height: 35px;
     font-size: 2.8em;
     background: #434DED;
     border-radius: 3.0px;
     padding: 7px 4px;
    box-sizing: border-box;
    &:hover,&:focus {
      background-color: #767EEB;
    }
   }
 }
.mobile #main .blog-posts .date-autor .date-header span {
  font-size: 1px;
  display: none;
  }
.mobile #blog-pager #blog-pager-home-link {
   height: 35px;
   border-radius: 2.5px;
   & a {
     height: 35px;
     font-size: 1.5em;
     background: #434DED;
     border-radius: 3.0px;
     padding: 7.5px 0px;
    box-sizing: border-box;
     &:hover,&:focus {
      background-color: #767EEB;
     }
   }
 }

body #blog-pager {
  & .mobile-desktop-link {
    left: 10px;
    bottom: 10px;
    }
  & .blog-mobile-link {
    margin-left: 10px;
    bottom: 10px;
  }
}
